/* 暖色漸層 */
body,
html {
    margin: 0;
    height: 100%;
    font-family: "Noto Sans TC", sans-serif;
    background: linear-gradient(120deg, #ffcece, #ffdac4, #ffe4b9, #fffeaf);
    background-size: 400% 1500%;
    animation: gradientFlow 4s ease-in-out infinite;
}

/* 深藍色背景 */
/* body,
html {
    margin: 0;
    height: 100%;
    font-family: "Noto Sans TC", sans-serif;
    background-color: #0e0632;
} */

/* 深色漸層 */
/* body,
html {
    margin: 0;
    height: 100%;
    font-family: "Noto Sans TC", sans-serif;
    background: linear-gradient(120deg, #09213b, #0c0f2e, #230b4c, #0a113c);
    background-size: 400% 1000%;
    animation: gradientFlow 4s ease-in-out infinite;
} */

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.navsetting {
    background-color: #ffd277;
}

.active {
    font-weight: 600;
}

@media (max-width: 991px) {
    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        justify-content: center;
        width: 100%;
    }

    .navbar-nav .nav-item {
        display: inline-block;
    }
}

@media (min-width: 992px) {
    .navsetting {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (min-width: 1921px) {
    .navsetting {
        padding-left: 24%;
        padding-right: 24%;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    h5 {
        font-size: 18px;
        color: #373737;
    }

    .content {
        font-size: 14px;
    }

    .uiLinkBox {
        font-size: 1rem;
    }

    .homesmallbox {
        min-width: 90vw;
    }

    .profile-image {
        min-width: 55vw;
    }

    .profile-line {
        min-width: 65vw;
        height: 1px;
    }

    .profile-buttons {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .profile-buttons .btn {
        width: 100%;
        max-width: 180px;
    }

    .circle {
        width: 30px;
        height: 30px;
    }

    .circle-inner {
        width: 15px;
        height: 15px;
    }

    .lastcircle {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 1600px) {
    h2 {
        font-size: 32px;
    }
}

@media (min-height: 846px) {
    .homebigbox {
        min-height: calc(100vh - 106px);
    }
}

@media (max-height: 900px) {
    .homebigbox {
        height: 100vh;
    }
}

.homebigbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* height: calc(100vh - 105px);
    background-color: #f1f1f1; */
    padding: 20px;
    box-sizing: border-box;
}

.homesmallbox {
    width: 70vw;
    max-width: 1344px;
    min-height: 700px;
    /* 保持固定的最小高度 */
    background-color: #fff;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 40vw;
    max-width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.profile-line {
    width: 55vw;
    max-width: 500px;
    height: 2px;
    background-color: #000;
    margin: 0px auto;
    /* 調整線條與其他元素的間距 */
}

.profile-name {
    margin-top
    : 30px;
    font-weight: bold;
}

.profileEnglishName {
    margin-bottom: 20px;
}

.profile-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* 調整按鈕間距 */
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.btnstyle {
    border-radius: 100px;
    border: solid #FFCB66;
    color: #362525;
    background-color: #fff;
    transition: 0.5s;
}

.btnstyle:hover {
    background-color: #FFCB66;
    transform: scale(1.1);
    transition: 0.5s;
}

.profile-buttons .btn {
    padding: 10px 20px;
    font-size: 16px;
}

.introduce {
    font-size: 16px;
    margin: 0px 30px;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

h2 {
    font-weight: bold;
}

h6 {
    font-weight: bold;
    color: #7a7a7a;
}

/* 與我聯絡 */
.googleform {
    width: 100%;
    max-width: 700px;
    height: 950px;
    max-height: 1200px;
}

@media (max-width: 700px) {
    .googleform {
        height: 1010px;
        overflow-y: visible;
    }
}

/* 關於我 */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.aboutMeBox {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    width: 90vw;
    max-width: 1344px;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentClub {
    font-size: 18px;
    line-height: 32px;
}

.content {
    font-size: 18px;
}

.textbox {
    margin-left: 10px;
    margin-right: 10px;
}

.aboutMeSmallTitle {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.highlight {
    color: #ff8431;
    font-weight: bold;
}

.year {
    padding-top: 10px;
}

.teacher {
    font-size: 14px;
    color: #7a7a7a;
    font-weight: bold;
}

.rowStyle {
    display: flex;
    justify-content: center;
}

.colStyle {
    min-width: 250px;
    width: auto;
}

.titleHr {
    width: 75vw;
    max-width: 1000px;
    padding-bottom: 20px;
}

.software {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .softwareTitle {
    color: #ffa55c;
} */

.work {
    font-size: large;
    font-weight: 500;
    margin-bottom: 5px;
}

.workContent {
    font-size: medium;
    font-weight: 400;
}

@media (max-width: 563px) {
    .rowStyle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .colStyle {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 563px) {
    .colStyle {
        padding-right: 10px;
        padding-left: 10px;
    }

    .content {
        text-align: left;
    }
}

/* 作品專區 */
.workBigBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkbox {
    text-decoration: none;
    font-size: xx-large;
    color: #000;
}

.colbox {
    width: 60vw;
    max-width: 650px;
    min-width: 400px;
    height: 25vh;
    border-radius: 1rem;
    margin: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: solid #FFFFFF;
    transition: 0.5s;
}

.colbox:hover {
    box-shadow: 2px 2px 5px #000;
    transition: 0.5s;
}

.colbox:hover .overlay {
    opacity: 0.7;
    /* 當滑鼠懸停時，使蒙版顯示 */
    transition: opacity 0.3s;
}

.colbox:hover .linkBoxPhoto {
    transform: scale(1.1);
    /* 放大圖片 */
    transition: 0.5s;
    /* 動畫時間 */
}

.linkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: xx-large;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    z-index: 10;
}

.workLinkBox {
    position: relative;
    /* 確保文字內容在蒙版層之上 */
    z-index: 10;
    /* 設置比蒙版更高的層級 */
    text-shadow: #000000b7 2px 2px;
    /* 增加文字陰影效果 */
}

.linkBoxPhoto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: 0.5s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明黑色 */
    opacity: 0;
    /* 初始狀態隱藏 */
    z-index: 5;
    transition: opacity 0.3s;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 手機版以下，直向排列 */
@media (max-width: 991px) {
    .workBigBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .colbox {

        width: 65vw;
        min-width: 300px;
        height: 35vw;
        min-height: 200px;
    }
}

/* 平板版以上，橫向排列 */
@media (min-width: 992px) {
    .workBigBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .colbox {
        width: calc(50% - 30px);
        /* 每個項目佔一半寬度，減少間距 */
        max-width: 550px;
        min-height: 350px;
        margin: 15px;
    }
}

/* 介面設計 */
.smallTitleHr {
    width: 65vw;
    max-width: 1100px;
    padding-bottom: 20px;
}

.workInBox {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    width: 90vw;
    max-width: 1344px;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workInRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workInColbox {
    width: 60vw;
    max-width: 650px;
    min-width: 400px;
    height: 25vh;
    border-radius: 1rem;
    margin: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
}

.workInColbox:hover {
    box-shadow: 2px 2px 5px #000;
    transition: 0.5s;
}

.workInColbox:hover .overlay {
    opacity: 0.7;
    /* 當滑鼠懸停時，使蒙版顯示 */
    transition: opacity 0.3s;
}

.workInColbox:hover .linkBoxPhoto {
    transform: scale(1.1);
    /* 放大圖片 */
    transition: 0.5s;
    /* 動畫時間 */
}

.workInLinkBox {
    position: relative;
    /* 確保文字內容在蒙版層之上 */
    z-index: 10;
    /* 設置比蒙版更高的層級 */
    text-shadow: #000000b7 2px 2px;
    /* 增加文字陰影效果 */
    font-size: 24px;
}

/* 手機版以下，直向排列 */
@media (max-width: 991px) {
    .workInBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .workInColbox {
        width: 65vw;
        min-width: 300px;
        height: 35vw;
        min-height: 200px;
    }
}

/* 平板版以上，橫向排列 */
@media (min-width: 992px) {
    .workInBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: flex-start; */
    }

    .workInColbox {
        width: calc(50% - 30px);
        /* 每個項目佔一半寬度，減少間距 */
        max-width: 550px;
        min-height: 350px;
        margin: 15px;
    }
}

/* 攝影 & 媒體 */
.imgBoxPhoto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: 0.5s;
}

.imgInLinkBox {
    position: relative;
    /* 確保文字內容在蒙版層之上 */
    z-index: 10;
    /* 設置比蒙版更高的層級 */
    text-shadow: #000000b7 2px 2px;
    /* 增加文字陰影效果 */
    font-size: 18px;
    text-align: right;
}

.workInColbox:hover .imgBoxPhoto {
    transform: scale(1.05);
    /* 放大圖片 */
    transition: 0.5s;
    /* 動畫時間 */
}

.projectVideo {
    width: 100%;
}

.videobox {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.videobox iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 作品頁面 */
.projectRow {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.projectInBox {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    width: 90vw;
    max-width: 1344px;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectTitleHr {
    width: 80vw;
    max-width: 1200px;
    padding-bottom: 20px;
}

.projectImg {
    width: 100%;
}

.appIcon {
    height: 65px;
}

.threeicon {
    height: 70px;
    padding-right: 15px;
}

.icon {
    height: 50px;
    padding-right: 15px;
}

.projectH5 {
    padding-top: 15px;
}

.projectP {
    font-size: 18px;
    width: 90%;
    text-align: justify;
}

.projectColText {
    width: 30%;
}

/* 手機版以下，直向排列 */
@media (max-width: 991px) {
    .projectRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    .projectCol {
        width: 80%;
    }

    .ProjectImg {
        width: 80%;
    }

    .projectImgSwift {
        width: 100%;
    }

    .workInColbox {
        width: 65vw;
        min-width: 300px;
        height: 35vw;
        min-height: 200px;
    }

    .appIcon {
        height: 50px;
    }
    
    .threeicon {
        height: 50px;
        padding-right: 15px;
    }
    
    .icon {
        height: 35px;
        padding-right: 15px;
    }

    .projectP {
        width: 100%;
    }
}

/* 平板版以上，橫向排列 */
@media (min-width: 992px) {
    .workInBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: flex-start; */
    }

    .workInColbox {
        width: calc(50% - 30px);
        max-width: 550px;
        min-height: 350px;
        margin: 15px;
    }

    .projectImgSwift {
        width: 33%;
    }
}